<div class="full-page-wrapper page-body-wrapper contain" style="background-color: black;">
  <div>
    <p class="title">스마트 비상벨 관제시스템</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <div class="inputDiv">
        <i class="mdi mdi-bell-outline icon"></i>
        <input class="underline" type="text" placeholder="ID" formControlName="username" tabindex="1" />
      </div>
      <div class="inputDiv">
        <i class="mdi mdi-bell-outline icon"></i>
        <input class="underline" type="password" placeholder="Password" formControlName="password" tabindex="2" />
      </div>
      <button class="singin" tabindex="3">로그인</button>
    </form>
    <div class="another">
      <button class="anotherbutton" tabindex="4" (click)="goregister()">회원가입</button>
      <button class="anotherbutton" tabindex="5">비밀번호찾기</button>
      <button class="anotherbutton" (click)="godashboard()">비상용</button>
    </div>

  </div>
</div>