<div class="menu-overlay"></div>
<div class="container-scroller">

	<nav id="nav_top" class="navbar default-layout col-lg-12 col-12 p-0 fixed-top">
		<div class="navbar-menu-wrapper align-items-center" style="background-color: #F5F4F2;">

			<ul class="navbar-nav float-right" style="height: 50px;">

				<li>
					<div class="form-search float-right">
						<form action="form-action" class="d-none d-sm-block">
							<div class="search__container">
								<input class="search__input" type="text" placeholder="Search">
							</div>
						</form>
					</div>
				</li>
				<li class="nav-item dropdown ml-4">
					<a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
						data-toggle="dropdown">
						<i class="mdi mdi-bell-outline"></i>
						<span class="count bg-success">4</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
						aria-labelledby="notificationDropdown">
						<a class="dropdown-item py-3 border-bottom">
							<p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
							<span class="badge badge-pill badge-primary float-right">View all</span>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-alert m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
								<p class="font-weight-light small-text mb-0"> Just now </p>
							</div>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-settings m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
								<p class="font-weight-light small-text mb-0"> Private message </p>
							</div>
						</a>
						<a class="dropdown-item preview-item py-3">
							<div class="preview-thumbnail">
								<i class="mdi mdi-airballoon m-auto text-primary"></i>
							</div>
							<div class="preview-item-content">
								<h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
								<p class="font-weight-light small-text mb-0"> 2 days ago </p>
							</div>
						</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
						aria-expanded="false">
						<span class="profile-text d-none d-md-inline-block">BS소프트</span>
						<img class="img-xs rounded-circle" src="../assets/images/faces/face1.jpg" alt="Profile image">
					</a>
					<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
						<a class="dropdown-item p-0">
							<div class="d-flex border-bottom">
								<div class="py-3 px-4 d-flex align-items-center justify-content-center">
									<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>
								</div>
								<div
									class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">
									<i class="mdi mdi-account-outline mr-0 text-gray"></i>
								</div>
								<div class="py-3 px-4 d-flex align-items-center justify-content-center">
									<i class="mdi mdi-alarm-check mr-0 text-gray"></i>
								</div>
							</div>
						</a>
						<a class="dropdown-item mt-2"> Manage Accounts </a>
						<a class="dropdown-item"> Change Password </a>
						<a class="dropdown-item"> Check Inbox </a>
						<a class="dropdown-item"> Sign Out </a>
					</div>
				</li>

			</ul>

		</div>
	</nav>




	<div class="container-fluid page-body-wrapper">
		<nav class="sidebar sidebar-offcanvas" id="sidebar"
			style="position:fixed; z-index: 150;padding-top: 74px; overflow-y: hidden; background-color: #121619; border-right: 3px solid #282c2f; ">

			<div class="avatarcon" style="height: 200px; text-align: center; margin-top: 30px;">

				<img class="avatar bg-light rounded-circle text-white p-1"
					src="https://raw.githubusercontent.com/twbs/icons/main/icons/person-fill.svg"
					style="width: 80px; height: 80px;">
				<p style="color: white;
				margin-top: 10px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-weight: 400; font-size: 20px;">관리자 이름</p>
				<p style="color: white;
				margin-top: 10px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-weight: 400; font-size: 14px;">관리자 직책</p>
			</div>

			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" routerLink="dashboard">
						<i class="menu-icon mdi mdi-television" style="font-size: 60px;"></i>
						<div class="menu-title" style="display: block;">전체화면</div>
					</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="user">
						<i class="menu-icon mdi mdi-account" style="font-size: 60px;"></i><span
							class="menu-title">회원관리</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="client">
						<i class="menu-icon mdi mdi-account" style="font-size: 60px;"></i><span
							class="menu-title">고객사관리</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="device">
						<i class="menu-icon mdi mdi-cellphone" style="font-size: 60px;"></i><span
							class="menu-title">기기관리</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="notice">
						<i class="menu-icon mdi mdi-alarm-light" style="font-size: 60px;"></i><span
							class="menu-title">시스템설정</span>
					</a>
				</li>
				<li class="nav-item" style="margin-top: 200%;">
					<a class="nav-link" (click)="logout()" routerLink="">
						<i class="menu-icon mdi mdi-logout" style="font-size: 60px;"></i><span
							class="menu-title">로그아웃</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="main-panel">
			<router-outlet></router-outlet>


		</div>

	</div>


</div>