#bells {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}							

#events {
	width	: 100%;
	height	: 500px;
}
div.card{
    border-radius: 8px !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) !important;
}
.main-panel{
	box-shadow: none;
}
body{
	box-shadow: none !important;
}
#backrow{
	height: 100%;
}
#halfcol{
	width: 50%;
}
#onerow{
	width: 100%; 
	height: 400px;
}
#tworow{
	width: 100%; 
	height: 500px; 
	margin-top: 18px;
}
#threerow{
	width: 100%; 
	height: 300px; 
	margin-top: 18px;
}
#allbellcol{
	width: 40%; 
	height: 400px;
}
#latelycol{
	width: 60%; 
	height: 400px;
}
#chartrow{
	height: 400px; 
	background-color: #282b30;
}
#alldetectionrow{
	width: 100%; 
	height: 817px; 
	margin-top: 18px; 
	display: block !important;
}

.firstcard {
	width: 100%; 
	height: 100%; 
	background-color: #282b30;
}
.secondcard {
	width: 100%; 
	height: 100%; 
	background-color: #282b30; 
	padding: 15px;
}
.table-responsive{
	width: 100%; 
	overflow: auto; 
	white-space:nowrap;
	border-collapse:collapse
}
.table-dark{
	table-layout: fixed;
}
.tabletr{
	background-color: #5156be
}
.tableth{
	font-size: 14px;
}
.tabletd{
	font-size: 12px;
}
.mdi-shield-outline{
	font-size: 20px; 
	color: #ffffff;
}
.tableth2{
	font-size: 18px;
}
.tabletd2{
	font-size: 15px;
}

.thirdcard {
	width: 150%; 
	height: 100%; 
	background-color: #282b30;
}
.imgmap{
	width: 95%;
	height: 75%;
}
.fourthcard {
	display: flexbox;
	flex-direction: row;
	align-items: space;
	justify-content: space-around;
	align-items: center;
	width: 100%; height: 100%;
	background-color: #282b30;
}
.fifthcard {
	width: 100%; 
	height: 100%; 
	background-color: #282b30; 
	padding: 50px;
}

.fluid-container{
	margin-right: 15px;
}

.btn:click{
	background-color: turquoise !important;
}

.sound{
	display: flex;
	list-style: none;
}
.soundtitle{
	color: #888888;
	width: 20%;
}
.sounditem{
	color: black;
	margin-left: 50px;
}

#map { 
	width: 100%;
	height: 400px;
}

.musictitle{
	list-style: none; 
	display: flex;
	text-align: center;
	font-size: 23px;
	font-family: fantasy;
}
.musiccontent{
	list-style: none;
	display: flex;
	text-align: center;
	font-size: 18px;
	font-family: sans-serif;}
	


.nonvisible{
	background-color:transparent;  
	border:0px transparent solid;
}
.musiccontent:hover{
	background-color: #dff0d8;
}
.clicked{
	background-color: #dff0d8;
}


/* 사운드카드 */
#soundcard{
	width:100%;
	height: 300px; 
	margin-left: auto; 
	margin-top: 550px;
}
/* 색상 */
#color{
	width:100%;
	list-style: none; 
	display: inline;
}
#color li{
	display: inline;
}
#scream{
	width: 12px; 
	height:12px; 
	background-color:hsla(5, 100%, 50%, 0.5); 
	display:inline-flex;
}
#slip{
	width: 12px; 
	height:12px; 
	background-color: hsla(150, 100%, 30%, 0.5); 
	display:inline-flex;
}
#help{
	width: 12px; 
	height:12px; 
	background-color: hsla(80, 100%, 30%, 0.5); 
	display:inline-flex;
}
#violent{
	width: 12px; 
	height:12px; 
	background-color: hsla(300, 100%, 30%, 0.5); 
	display:inline-flex;
}
.avatarcon{
	margin-top: 50px;
	width: 100%;
	height: 300px !important;
	display: flex;
}

.card{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.card > * {
	margin-top: 10px;
}
.card-title{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}
.doughnut { 
    border: 10px solid #ffffff;
    border-radius: 100px;
}
.circlecontainer{
	overflow-x: auto; 
	display: flex; 
	align-items: center; 
	height: 100%;
}
#circlebox{
	display: block;
	margin: 15px;
  }
  #incircle{
	border: 10px solid #5151cc;
	margin: auto;
	background-color: #4b4a50;
	width:190px;
	height:190px;
	border-radius: 95px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-around;
  }
  .iconcircle{
	margin: auto;
	width:70px;
	height:70px;
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
  }
  .iconcircle1{
	margin: auto;
	width:40px;
	height:40px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
  }
  #fixing{
	background-color: #ffa14d;
  }
  #normal{
	background-color: #5dc276;
  }
  .circletitle{
	  margin-top: 20px;
	  color: #ffffff;
	  font-size: 17px;
	  font-weight: 600;
  }
  .circlestatus{
	  color: #ffffff;
	  font-size: 14px;
	  font-weight: 600;

  }
.innercard1{
	margin: auto;
	width:95%;
	height:40%;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	background-color: #5156be;
}
.menu-icon{
	color: #ffffff; 
	font-size: 60px;
}
.innercard2{
	margin: auto;
	width: 45%; 
	height: 90%; 
	background-color: #1a1f71;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	background-color: #1a1f71;

	
	}
.innerfont1{
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
}
.innerfont2{
font-size: 25px;
font-weight: 400;
color: #ffffff;
}
.innerfont3{
	font-size: 15px;
	font-weight: 600;
	color: #ffffff;
}
.innercardcon{
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	width: 100%; 
	height: 90%;

}
#chartdiv {
	width: 100%;
  }
