<div class="content-wrapper">

  <div class="row" id="backrow">

    <div class="col" id="halfcol">
      <div class="row" id="onerow">
        <div class="col" id="allbellcol">
          <div class="card firstcard">
            <h5 class="card-title">총 비상벨</h5>


            <div class="innercard1">
              <i class="menu-icon mdi mdi-alarm-light"></i>
              <p class="innerfont1">{{activatedevice}}/{{numdevice}}</p>
              <p class="innerfont2">정상작동중</p>
            </div>

            <div class="innercardcon">
              <div class="innercard2">
                <p class="innerfont1">{{deactivatedevice}}</p>
                <i class="menu-icon mdi mdi-alarm-light"></i>
                <p class="innerfont2">비활성화</p>
              </div>
              <div class="innercard2">
                <p class="innerfont1">{{inspectiondevice}}</p>
                <i class="menu-icon mdi mdi-alarm-light"></i>
                <p class="innerfont2">기타</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col" id="latelycol">
          <div class="card secondcard">
            <h5 class="card-title">최근 감지 내역</h5>
            <div class="table-responsive">
              <table class="table table-dark ">
                <thead>
                  <tr class="tabletr">
                    <th class="tableth">
                      위험등급
                    </th>
                    <th class="tableth">
                      디바이스Id
                    </th>
                    <th class="tableth">
                      시간
                    </th>
                    <th class="tableth">
                      타입
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of detectionstatusdata[0]">
                    <td class="tabletd font-weight-medium">
                      <div class="iconcircle1" id="fixing">
                        <i class="menu-icon mdi mdi-shield-outline"></i>
                      </div>
                    </td>
                    <td class="tabletd">
                      {{i.deviceId}}
                    </td>
                    <td class="tabletd text-danger">
                      {{i.time}}
                    </td>
                    <td class="tabletd">
                      {{i.type}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="tworow">
        <div class="card thirdcard">
          <h4 class="card-title">스마트벨 설치 현황</h4>
          <img src="http://api-2207.bs-soft.co.kr/api/images/bell.png" class="imgmap" />
          <!-- <ng-mapbox></ng-mapbox>
              <agm-map [latitude]="35.25228" [longitude]="126.8633" [zoom]="16" [disableDefaultUI]="false" [zoomControl]="false">
                <agm-marker [latitude]="35.25228" [longitude]="126.8633">
                  <agm-info-window>location 1</agm-info-window>
                </agm-marker>
              </agm-map> -->
        </div>
      </div>


      <div class="row" id="threerow">
        <div class="card fourthcard">
          <div class="circlecontainer">

            <div id="circlebox" *ngFor="let i of alivecheckdata">
              <div id="incircle">
                <p class="circletitle">{{i[0]}}</p>
                <div *ngIf="i[1] === 'Deactivate'" class="iconcircle" id="fixing">
                  <i class="menu-icon mdi mdi-settings"></i>
                </div>
                <div *ngIf="i[1] === 'Activation'" class="iconcircle" id="normal"><i
                    class="menu-icon mdi mdi-alarm-light"></i></div>
                <p class="circlestatus">{{i[1]}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col" id="halfcol">
      <div class="row" id="chartrow">
        <div id="chartdiv"></div>
      </div>

      <div class="row" id="alldetectionrow">
        <div class="card fifthcard">
          <div class="table-responsive">
            <h5 class="card-title">전체 감지 내역</h5>
            <table class="table table-dark table-striped">
              <thead>
                <tr class="tabletr">
                  <th class="tableth2">
                    deviceid
                  </th>
                  <th class="tableth2">
                    name
                  </th>
                  <th class="tableth2">
                    time
                  </th>
                  <th class="tableth2">
                    type
                  </th>
                  <th class="tableth2">
                    location
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of alldetectiondata[0]">
                  <td class="font-weight-medium" class="tabletd2">
                    {{i.deviceId}}
                  </td>
                  <td class="tabletd2">
                    {{i.name}}
                  </td>
                  <td class="tabletd2">
                    {{i.time}}
                  </td>
                  <td class="tabletd2">
                    {{i.type}}
                  </td>
                  <td class="tabletd2">
                    {{i.location}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>




</div>