.contain{
    display: flex;
    background: linear-gradient(to right bottom, #054779,  #2a1234);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
}
.requirefield{
    color: red;
    font-size: 12px;
}
.icon{
    color: #ffffff;
    margin-right: 20px;
    font-size: 30px;
}
.registercard{
    background-color: #282b30;
    border-radius: 10px;
    padding: 30px;
}

input{
    margin-top: 30px;
    background: transparent;
    width: 100%;
    height: 50px;
    border: #3a418e 2px solid;
    FONT-SIZE: 15px;
    color:#ffffff;
}
.inputDiv{
    position: flex;
}
.singin{
    margin: 10px;
    margin-top: 60PX;
    width: 100px;
    height: 50px;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    border-bottom: medium none;
    color: white;
    background-color: #5156be;
    border-radius: 7px;
}
button:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 
    position: relative; 
    top:2px;
}
.another{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.anotherbutton{
    margin: 5px;
    width: 30%;
    height: 50px;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    border-bottom: medium none;
    color: white;
    background-color: #5156be;
    border-radius: 7px;
}
